# -*- coding: utf-8 -*-
# vim: ft=yaml
---
exim:
  config:
    # yamllint disable-line rule:line-length
    # See https://manpages.debian.org/buster/exim4-config/update-exim4.conf.8.en.html for details
    configtype: 'satellite'
    hide_mailname: 'true'
    ue4c_keepcomments: 'true'
    localdelivery: 'mail_spool'
    local_interfaces: ''
    minimaldns: 'false'
    other_hostnames: ''
    readhost: ''
    relay_domains: ''
    relay_nets: ''
    smarthost: ''
  mailname: foo.bar.baz
  aliases:
    root: root@bar.baz
  files:
    main:
      '01_exim4-config_listmacrosdefs': |
        exim_path = /usr/sbin/exim4
        # Macro defining the main configuration directory.
        # We do not use absolute paths.
        .ifndef CONFDIR
        CONFDIR = /etc/exim4
        .endif

      '90_exim4-config_log_selector': |
        # uncomment this for debugging
        # MAIN_LOG_SELECTOR == MAIN_LOG_SELECTOR +all -subject -arguments

        .ifdef MAIN_LOG_SELECTOR
        log_selector = MAIN_LOG_SELECTOR
        .endif

    acl:
      '00_exim4-config_header': |
        begin acl
    router: null
    transport: null
    retry:
      'file3': |
        # some more config
    rewrite: null
    auth: null

  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    # files_switch:
    #   - any/path/can/be/used/here
    #   - id
    #   - roles
    #   - osfinger
    #   - os
    #   - os_family
    # All aspects of path/file resolution are customisable using the options below.
    # This is unnecessary in most cases; there are sensible defaults.
    # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
    #         I.e.: salt://exim/files/default
    # path_prefix: exim_alt
    # dirs:
    #   files: files_alt
    #   default: default_alt
    # The entries under `source_files` are prepended to the default source files
    # given for the state
    source_files:
      exim/config/install:
        - 'alt_update-exim4.conf.conf'
