---
exim:
  config:
    # See https://manpages.debian.org/buster/exim4-config/update-exim4.conf.8.en.html for details
    configtype: 'satellite'
    hide_mailname: 'true'
    ue4c_keepcomments: 'true'
    localdelivery: 'mail_spool'
    local_interfaces: ''
    minimaldns: 'false'
    other_hostnames: ''
    readhost: ''
    relay_domains: ''
    relay_nets: ''
    smarthost: ''
  files:
    main:
      '01_exim4-config_listmacrosdefs': |
        exim_path = /usr/sbin/exim4
        # Macro defining the main configuration directory.
        # We do not use absolute paths.
        .ifndef CONFDIR
        CONFDIR = /etc/exim4
        .endif

      '90_exim4-config_log_selector': |
        # uncomment this for debugging
        # MAIN_LOG_SELECTOR == MAIN_LOG_SELECTOR +all -subject -arguments

        .ifdef MAIN_LOG_SELECTOR
        log_selector = MAIN_LOG_SELECTOR
        .endif

    acl:
      '00_exim4-config_header': |
        begin acl
    router: null
    transport: null
    retry:
      'file3': |
        # some more config
    rewrite: null
    auth: null
